body{
    background-color: bisque;
    font-size: 3rem ;
}

h6{
    margin: 0;
    text-align: center;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
.titulo{
    text-align: center;
}
.label_input{
    display: flex;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
}
.screen{
    background-color: black;
    margin-top: 1%;
    display: block;
    color: white;
}
.mostrador{
    border: 2px solid red;
}
.InputsStyle{
    background-color: brown;
}

input{
    font-size: 3rem;
    
}
.aside{
    display: block;
    border:1px solid red;
}
