*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
    font-size: 1.5rem ;
    width: 100%;
    margin: 0;
    padding: 0;
}

.aside{
    display: block;
    border:1px solid red;
}

.autor{
    margin: .8rem;
    text-align: center;
}
.titulo{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 0.5rem; */
}

.InputsStyle{
    width: 70%;
    margin: 0 auto;
}

.label_input{
    background-color: brown;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    width: 50%;
    color: beige;
    font-weight: bold;
    padding: 5% 3%;
    
}
.InputsStyle-input{
    font-size: 3rem;
    width: 50%;
    border-radius: 5%;
}


/* ............................................... */

.shower{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 1px solid black;
    border-radius: 20px;
    margin: 3rem auto 3rem auto;
    /* width: 70%; */
    text-align: center;
}

.screen{
    background-color: black;
    margin-top: 1%;
    display: block;
    color: white;
    font-size: 3rem;
    border-radius: 20rem;
    
}
.mostrador{
    /* border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
}
.motrador-titulo{
    font-size: 1.5rem;
}
.entry{
    display: flex;
    height: fit-content;
}

